<%layout('layout/boilerplate')%>
<div class="container d-flex flex-column">
<h1 style="font-family: 'Tourney', cursive; margin:0 auto; color:#03DAC5;" class="d-block">BOOKMARKS</h1>
<%for(let i=0;i<data.length;i++){%>
<div class="modal-bookmark">
        <div class="modal-content d-flex flex-row">
            <div class="row">
              <img src="<%=data[i].thumbnail%>" class="modal-image col-md-4" alt="">
              <div class="game-content col-md-8 d-flex flex-column  justify-content-evenly">
                <h2 class="card-title" style="margin: 0 auto;"><%=data[i].title%></h2>
                <h6><span style="color: #fe4141;">Description:</span> <%=data[i].short_description%></h6>
                <h6><span style="color: #fe4141;">Game URL:</span> <%=data[i].game_url%></h6>
                <h6><span style="color: #fe4141;">Genre:</span> <%=data[i].genre%></h6>
                <h6><span style="color: #fe4141;">Publisher:</span> <%=data[i].publisher%></h6>
                <h6><span style="color: #fe4141;">Developer:</span> <%=data[i].developer%></h6>
                <h6><span style="color: #fe4141;">Release Date:</span> <%=data[i].release_date%></h6>
                <%if(currentUser){%>
                <div class="d-flex flex-row justify-content-between">
                  <form class="d-inline" method="POST" action="/products/<%=data[i].id%>?_method=DELETE">
                    <button class="mb-1" style="background-color: transparent;border-width: 0px">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#fe4141" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                    </button>
                  </form>
                    <form class="d-inline" method="POST" action="/bookmarks/<%=data[i].id%>?_method=DELETE">
                      <button class="Bookmark mb-2" id="bm-<%=i%>">Remove</button>
                    </form>
                    <form class="d-inline">
                      <button class="mb-1" style="background-color: transparent;border-width: 0px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#fe4141" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                          <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg>
                      </button>
                    </form>
                  </div>
                  <%}%>
              </div>
            </div>
        </div>
      </div>
    <%}%>  
</div>
<script type="text/javascript" src="/js/modal.js"></script>